<div class="card">
    <div class="card-body">
        <h1>Acerca de:</h1>
        <p>Esta aplicacion Web fue creada con la finalidad de mejorar el entorno de trabajo ,donde se realizan mantenimientos preventivos de equipos electricos,especialmente motores electricos,los cuales tienen ciertos parametros de registro.
            <br>
            Esta aplicacion es un prototipo,en el cual se muestra lo basico en el control y registro de un equipo dentro de la organizacion.</p>
    </div>
</div>