<div class="jumbotron">
    <h1 class="display-4">App de Mantenimiento</h1>
    <p class="lead">Registro mediante aplicacion CRUD</p>
    <hr class="my-4">
    <p>Somos una empresa especializada en el mantenimiento preventivo y correctivo de equipos electricos,nuestra especialidad son los motores de alta y baja potencia,donde lideramos en el mercado,gracias a los altos estandares de calidad que nuestro equipo tecnico brinda a todos nuestros clientes.
    </p>

    <div class="container">
  <div class="row">
    <div class="col-sm">
    <h2> Mantenimiento de Motores Eléctricos</h2>
     <p> Los motores eléctricos son parte importante del equipamiento de una empresa. Se usan con fines industriales, comerciales y residenciales, y permiten el funcionamiento de trenes, automóviles, compresores, sistemas de bombeo, entre otros. Sin importar la industria, este tipo de propulsores juega un papel clave para la productividad, así como su mantenimiento.</p>
    </div>
    <div class="col-sm">
     <h2>  Análisis de redes Eléctricas</h2>
     <p> Un ejercicio fundamental en la industria de la energía eléctrica es el análisis de las redes, un escáner exhaustivo que permite detectar cualquier tipo de anomalía así como también revelar la situación actual del trabajo de los componentes que completan los procesos.</p>
    </div>
    <div class="col-sm">
      <h2>Bobinado de Motores electricos</h2>
      <p>La bobina está formada por espirales de alambre o cables enrolladas en el núcleo del motor, estas recubren los imanes que provocan el campo magnético que hacen girar el eje central. El bobinado de motores consiste básicamente en un proceso de colocación e instalación de dichas espirales conductoras o bobina.</p>
    </div>
  </div>
</div>
   
</div>